{% extends 'layout.server.view.html' %}

{% block content %}
	<style>
		#redtext{color:red}
	</style>

	<script>
	// default values used to disable submit
	var gooditem = false;
	var goodemails = true;

	// Verifies that the emails entered are valid and readable.
	// disables submit if errors are present
	function checkEmails(){
		var emails = document.getElementById("emailUsers").value;
		var emailArray = emails.split(", ");
		var valid = true;
		var goodemails = true;
		var regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[	0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

		if (emails == ""){
			valid = true;
			//goodemails = true;
			if (gooditem == true && goodemails == true)
				document.getElementById("submit").disabled=false;
			document.getElementById("redtext").innerHTML="";
		} else {
			for (var i = 0; i < emailArray.length; i++) {
			     if( emailArray == "" || ! regex.test(emailArray[i])){
			         valid = false;
			         goodemails = false;
			     } else {
			     	document.getElementById("submit").disabled=false;
					document.getElementById("redtext").innerHTML="";
					jsonEmails();
			     }
			}
			if (valid == false){
				alert('One or more email addresses entered is invalid. Please separate them by commas and one space. \n example: abc@example.com, def@example.com');
				document.getElementById("submit").disabled=true;
				document.getElementById("redtext").innerHTML="Please fix the emails in order to submit.";
			}
		}
	}
	
	// verifies there's actually an item to submit
	function checkItem(){
		var item = document.getElementById('item').value;
		if (item == null || item == ""){
			document.getElementById("redtext").innerHTML="Please enter an item";
			document.getElementById("submit").disabled=true;
			gooditem =false;
		} else {
			item = item.value;
			gooditem=true;
			if (gooditem == true && goodemails == true)
				document.getElementById("submit").disabled=false;
				document.getElementById("redtext").innerHTML="";
		}
	}

	function jsonEmails(){
		var emails = document.getElementById("emailUsers").value;
		var emailArray = emails.split(", ");
		var jsond = "";
		for (i =0; i < emailArray.length; i++){
			if (i==emailArray.length-1)
				jsond = jsond+'"email:"' + emailArray[i] + '"';
			else 
				jsond = jsond+'"email:"' + emailArray[i] + '",';
		}
		//console.log(jsond);
		var element = document.getElementById("jsonEmail").value = jsond;
	}

	</script>

	<!-- FORM SHIT IN HERE-->
	<form name="createItem" method="post" action="/list/{{user.username}}">
	Please enter a list item:<br>
	<input id="item" name="content" type="text" onblur="javascript:checkItem();" onchange="javascript:checkItem();"><br>
	Please enter the comma separated emails of the users you would like to share this list with:
	<br>
	<!-- name is hidden here because we are using a second, hidden input box with correcy
		json formatting. -->
	<input id="emailUsers" type="text" onblur="javascript:checkEmails();"><br>
	<input id="jsonEmail" name="access" type="text" hidden>
	<input id="submit" type="submit" value="Submit" disabled> </a>
	<p id="redtext" visibility="false"></p>
	</form>

	<script>
	// calls checkItem on key relase
	$( "#item" ).keyup(function() {
	  checkItem();
	});
</script>
{% endblock %}
