{% extends 'layout.server.view.html' %}

{% block title %}Show Lists{% endblock %}

{% block content %}
	<div align="center">
		{% if user %}
			<script>
				function httpGet(theUrl)
					{
					    var xmlHttp = null;

					    xmlHttp = new XMLHttpRequest();
					    xmlHttp.open( "GET", theUrl, false );
					    xmlHttp.send( null );
					    return xmlHttp.responseText;
					}

				function getlist(){
					var json = JSON.parse(httpGet('/users/me'));
					var id = json.rootlist;
					alert(id);

				}
			</script>
			<button onclick="getlist();"> HELLO </button>
		{% else %}
			
		{% endif %}
	</div>
{% endblock %}
